/.vs/HttpsOnDocker/v15/*.suo
/.vs/HttpsOnDocker/v15/Server/sqlite3/*.lock
/.vs/HttpsOnDocker/v15/Server/sqlite3/*.ide
/.vs/HttpsOnDocker/v15/Server/sqlite3/*.ide-shm
/.vs/HttpsOnDocker/v15/Server/sqlite3/*.ide-wal
/obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
/obj/Docker/CachedComposeConfigFilePaths.cache
/obj/Docker/DockerDevelopmentMode.cache
/obj/Docker/HashOfDockerArtifacts.cache
/obj/Docker/MergedDockerCompose.cache
/obj/Docker/MergedDockerCompose1.cache
/obj/Docker/MergedDockerCompose2.cache
/obj/Docker/MergedDockerCompose3.cache
/obj/Docker/MergedDockerCompose4.cache
/obj/Docker/TargetOS.cache
/obj/Docker/docker-compose.vs.debug.g.yml
/obj/Docker/docker-compose.vs.release.g.yml
/obj/Release/docker-compose.dcproj.FileListAbsolute.txt
/src/Api/bin/Debug/netcoreapp2.0/*.json
/src/Api/bin/Debug/netcoreapp2.0/*.dll
/src/Api/bin/Debug/netcoreapp2.0/*.pdb
/src/Api/bin/Release/netcoreapp2.0/*.json
/src/Api/bin/Release/netcoreapp2.0/*.dll
/src/Api/bin/Release/netcoreapp2.0/*.pdb
/src/Api/obj/*.cache
/src/Api/obj/*.props
/src/Api/obj/*.targets
/src/Api/obj/Debug/netcoreapp2.0/*.cs
/src/Api/obj/Debug/netcoreapp2.0/*.cache
/src/Api/obj/Debug/netcoreapp2.0/*.txt
/src/Api/obj/Debug/netcoreapp2.0/*.dll
/src/Api/obj/Debug/netcoreapp2.0/*.pdb
/src/Api/obj/Docker/*.cache
/src/Api/obj/Docker/publish/*.dll
/src/Api/obj/Docker/publish/*.pdb
/src/Api/obj/Docker/publish/*.json
/src/Api/obj/Docker/publish/*.config
/src/Api/obj/Release/netcoreapp2.0/*.cs
/src/Api/obj/Release/netcoreapp2.0/*.cache
/src/Api/obj/Release/netcoreapp2.0/*.dll
/src/Api/obj/Release/netcoreapp2.0/*.pdb
/src/Api/obj/Release/netcoreapp2.0/*.txt
/src/Api/obj/Release/netcoreapp2.0/PubTmp/Out/*.dll
/src/Api/obj/Release/netcoreapp2.0/PubTmp/Out/*.pdb
/src/Api/obj/Release/netcoreapp2.0/PubTmp/Out/*.json
/src/Api/obj/Release/netcoreapp2.0/PubTmp/Out/*.config
/src/Api/obj/Release/netcoreapp2.0/*.rsp
/src/Api/obj/*.json
/src/QuickstartIdentityServer/bin/Debug/netcoreapp2.0/*.json
/src/QuickstartIdentityServer/bin/Debug/netcoreapp2.0/*.dll
/src/QuickstartIdentityServer/bin/Debug/netcoreapp2.0/*.pdb
/src/QuickstartIdentityServer/bin/Release/netcoreapp2.0/*.json
/src/QuickstartIdentityServer/bin/Release/netcoreapp2.0/*.dll
/src/QuickstartIdentityServer/bin/Release/netcoreapp2.0/*.pdb
/src/QuickstartIdentityServer/obj/Debug/netcoreapp2.0/*.cs
/src/QuickstartIdentityServer/obj/Debug/netcoreapp2.0/*.cache
/src/QuickstartIdentityServer/obj/Debug/netcoreapp2.0/*.txt
/src/QuickstartIdentityServer/obj/Debug/netcoreapp2.0/*.dll
/src/QuickstartIdentityServer/obj/Debug/netcoreapp2.0/*.pdb
/src/QuickstartIdentityServer/obj/Docker/*.cache
/src/QuickstartIdentityServer/obj/Docker/publish/*.dll
/src/QuickstartIdentityServer/obj/Docker/publish/*.pdb
/src/QuickstartIdentityServer/obj/Docker/publish/*.json
/src/QuickstartIdentityServer/obj/Docker/publish/*.config
/src/QuickstartIdentityServer/obj/*.cache
/src/QuickstartIdentityServer/obj/*.props
/src/QuickstartIdentityServer/obj/*.targets
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/PubTmp/Out/*.dll
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/PubTmp/Out/*.pdb
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/PubTmp/Out/*.json
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/PubTmp/Out/*.config
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/*.cs
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/*.cache
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/*.dll
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/*.pdb
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/*.txt
/src/QuickstartIdentityServer/obj/Release/netcoreapp2.0/*.rsp
/src/QuickstartIdentityServer/obj/*.json
